<h2><%=@product.name%></h2>
<h4>Price: <%=@product.price%></h4>
<h4>Description: <%=@product.description%></h4>
<h4>Tax: <%=@product.tax%></h4>
<h4>Total: <%=@product.total%></h4>

<a href="/products"> All Products</a>